In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../Health_cleaned.csv')
df.head()

,hhidpn,rmstat,ragender,rahispan,raracem,riwbegy,ragey_b,sagey_b,rhltc,rhlthlm,...,cpi,rgov,sgov,inter_year,year_of_birth,total_work_earn,total_pension_earn,total_gov_income,total_income,without_work
0,2010,7,2,0,1,1998-06-15,63,.m,4,1,...,0.934777,7394.6318,0.0,1998,1935,0.0,0.00000,7394.6318,7394.63180,1
1,2010,7,2,0,1,1996-10-15,62,.m,3,1,...,0.891173,7374.7271,0.0,1996,1934,0.0,0.00000,7374.7271,7374.72710,1
2,2010,7,2,0,1,2000-03-15,65,.m,3,1,...,0.967805,7029.8052,0.0,2000,1935,0.0,0.00000,7029.8052,7029.80520,1
3,2010,7,2,0,1,1994-07-23,59,.m,3,1,...,0.852219,4023.5574,0.0,1994,1935,0.0,0.00000,4023.5574,4023.55740,1
4,2010,7,2,0,1,1992-09-18,57,.m,3,1,...,0.811126,4193.8506,0.0,1992,1935,0.0,3053.12332,4193.8506,7246.97392,1

In [3]:
df['riwbegy'] = pd.to_datetime(df['riwbegy'])

In [4]:
def count_jobs(row):
    job1 = not (row['rjweeks'] == '.m' or row['rjweeks'] == '0')
    job2 = not (row['rjweek2'] == '.m' or row['rjweek2'] == '0')

    if job1 and job2:
        return 2
    elif job1 or job2:
        return 1
    return 0


df['n_jobs'] = df.apply(count_jobs, axis=1)

In [5]:
df.sort_values('riwbegy', inplace=True)
df.head()

,hhidpn,rmstat,ragender,rahispan,raracem,riwbegy,ragey_b,sagey_b,rhltc,rhlthlm,...,rgov,sgov,inter_year,year_of_birth,total_work_earn,total_pension_earn,total_gov_income,total_income,without_work,n_jobs
19245,22861040,1,2,0,2,1992-04-01,62,56,5,1,...,3522.8347,0.0000,1992,1930,23485.564002,0.000000,3522.8347,27008.398702,1,0
22222,25154020,1,2,0,2,1992-04-01,56,59,3,1,...,0.0000,0.0000,1992,1936,22853.690494,0.000000,0.0000,22853.690494,1,0
22225,25181010,1,2,0,1,1992-04-06,58,53,3,1,...,0.0000,0.0000,1992,1934,43336.457385,0.000000,0.0000,43336.457385,1,0
1112,11067020,1,2,0,1,1992-04-07,53,50,3,0,...,0.0000,0.0000,1992,1939,71295.462149,16775.402859,0.0000,88070.865007,1,0
19239,22861010,1,1,0,2,1992-04-07,56,62,3,1,...,0.0000,3522.8347,1992,1936,23485.564002,0.000000,3522.8347,27008.398702,1,1

In [10]:
cpi_by_year = df.groupby('year')['cpi'].mean()
cpi_by_year

year
1991    0.811126
1992    0.831578
1993    0.852219
1994    0.870152
1995    0.891173
1996    0.915049
1997    0.934777
1998    0.947672
1999    0.967805
2001    1.028097
2002    1.044544
2003    1.068196
2004    1.096848
2005    1.133913
2006    1.170722
2007    1.204051
2008    1.250222
2009    1.245748
2010    1.266227
2011    1.306293
2012    1.333220
Name: cpi, dtype: float64

In [21]:
unique_ids = df['hhidpn'].unique()
unique_ids.shape

(31532,)

In [17]:
df.rename(columns={'total_work_earn': 'total_work_income', 'total_pension_earn': 'total_pension_income'}, inplace=True)

In [18]:
df.columns

Index(['hhidpn', 'rmstat', 'ragender', 'rahispan', 'raracem', 'riwbegy',
       'ragey_b', 'sagey_b', 'rhltc', 'rhlthlm', 'rhibpe', 'rdiabe', 'rcancre',
       'rlunge', 'rhearte', 'rstroke', 'rpsyche', 'rarthre', 'rhosp',
       'rhspnit', 'oop_spend', 'riearn', 'ripena', 'siearn', 'sipena', 'rcovr',
       'rcovs', 'rlbrf', 'rjphys', 'rjlift', 'rjweeks', 'rjweek2', 'rjcten',
       'index_wave', 'insured_gov', 'uninsured', 'retired', 'collegeplus',
       'year', 'cpi', 'rgov', 'sgov', 'inter_year', 'year_of_birth',
       'total_work_income', 'total_pension_income', 'total_gov_income',
       'total_income', 'without_work', 'n_jobs'],
      dtype='object')

In [13]:
income_columns = ['riearn', 'siearn', 'ripena', 'sipena', 'rgov', 'sgov', 'total_work_income',
        'total_pension_income', 'total_gov_income', 'total_income']

In [19]:
df.head()

,hhidpn,rmstat,ragender,rahispan,raracem,riwbegy,ragey_b,sagey_b,rhltc,rhlthlm,...,rgov,sgov,inter_year,year_of_birth,total_work_income,total_pension_income,total_gov_income,total_income,without_work,n_jobs
19245,22861040,1,2,0,2,1992-04-01,62,56,5,1,...,3522.8347,0.0000,1992,1930,23485.564002,0.000000,3522.8347,27008.398702,1,0
22222,25154020,1,2,0,2,1992-04-01,56,59,3,1,...,0.0000,0.0000,1992,1936,22853.690494,0.000000,0.0000,22853.690494,1,0
22225,25181010,1,2,0,1,1992-04-06,58,53,3,1,...,0.0000,0.0000,1992,1934,43336.457385,0.000000,0.0000,43336.457385,1,0
1112,11067020,1,2,0,1,1992-04-07,53,50,3,0,...,0.0000,0.0000,1992,1939,71295.462149,16775.402859,0.0000,88070.865007,1,0
19239,22861010,1,1,0,2,1992-04-07,56,62,3,1,...,0.0000,3522.8347,1992,1936,23485.564002,0.000000,3522.8347,27008.398702,1,1

In [30]:
def count_deltas(rows):
    income_deltas = {}

    for col in income_columns:
        income_deltas[f'{col}_delta'] = [np.nan]

    indexes = rows.index

    for i, (_, row) in zip(range(len(indexes)), rows.iterrows()):
        if i == 0:
            continue
        prev_row = rows.loc[indexes[i - 1]]

        valid_interval = True
        current_year = row['year']
        if current_year - prev_row['year'] > 2:
            valid_interval = False

        for col in income_columns:
            if not valid_interval or prev_row[col] == 0 or row[col] == 0:
                income_deltas[f'{col}_delta'].append(np.nan)
            else:
                income_deltas[f'{col}_delta'].append(row[col] / prev_row[col] * 100 * cpi_by_year.loc[current_year]  - 100)

    return income_deltas

In [31]:
for uid in unique_ids:
    income_deltas = count_deltas(df[df['hhidpn'] == uid])

    for col in income_columns:
        df.loc[df['hhidpn'] == uid, f'{col}_delta'] = income_deltas[f'{col}_delta']

In [32]:
df[df['hhidpn'] == 22861010][income_columns + [f'{col}_delta' for col in income_columns]]

,riearn,siearn,ripena,sipena,rgov,sgov,total_work_income,total_pension_income,total_gov_income,total_income,riearn_delta,siearn_delta,ripena_delta,sipena_delta,rgov_delta,sgov_delta,total_work_income_delta,total_pension_income_delta,total_gov_income_delta,total_income_delta
19239,23485.564002,0.0,0.0,0.0,0.0000,3522.8347,23485.564002,0.0,3522.8347,27008.398702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19236,25280.287153,0.0,0.0,0.0,0.0000,3768.0933,25280.287153,0.0,3768.0933,29048.380453,-8.265564,NaN,NaN,NaN,NaN,-8.844943,-8.265564,NaN,-8.844943,-8.341135
19241,23157.354808,0.0,0.0,0.0,0.0000,5252.3936,23157.354808,0.0,5252.3936,28409.748408,-18.366358,NaN,NaN,NaN,NaN,24.221806,-18.366358,NaN,24.221806,-12.841913
19235,25473.632823,0.0,0.0,0.0,0.0000,10436.9110,25473.632823,0.0,10436.9110,35910.543823,2.827702,NaN,NaN,NaN,NaN,85.747472,2.827702,NaN,85.747472,18.157907
19238,9841.727323,0.0,0.0,0.0,8843.4951,12653.6490,9841.727323,0.0,21497.1441,31338.871423,-62.608905,NaN,NaN,NaN,NaN,17.336072,-62.608905,NaN,99.340952,-15.540382
19240,19852.633829,0.0,0.0,0.0,8338.1064,7279.2988,19852.633829,0.0,15617.4052,35470.039029,107.386738,NaN,NaN,NaN,-3.065657,-40.856375,107.386738,NaN,-25.310030,16.362352
19237,0.000000,0.0,0.0,0.0,8177.9585,7197.1133,0.000000,0.0,15375.0718,15375.071800,NaN,NaN,NaN,NaN,4.767992,5.613624,NaN,NaN,5.162142,-53.697266
19242,0.000000,0.0,0.0,0.0,8028.0000,29991.3520,0.000000,0.0,38019.3520,38019.352000,NaN,NaN,NaN,NaN,11.312073,372.517084,NaN,NaN,180.393130,180.393130
19243,0.000000,0.0,0.0,0.0,7955.8916,10566.4180,0.000000,0.0,18522.3096,18522.309600,NaN,NaN,NaN,NaN,19.323598,-57.579421,NaN,NaN,-41.340916,-41.340916
19234,0.000000,0.0,0.0,0.0,0.0000,8585.2588,0.000000,0.0,8585.2588,8585.258800,NaN,NaN,NaN,NaN,NaN,1.217546,NaN,NaN,-42.258448,-42.258448
19244,0.000000,0.0,0.0,0.0,8301.9248,9708.1475,0.000000,0.0,18010.0723,18010.072300,NaN,NaN,NaN,NaN,NaN,47.714640,NaN,NaN,174.032852,174.032852

In [ ]:
df.to_csv('../Health_cleaned_income_delta.csv', index=False)